.layout_contanier {
  width: 100%;
  height: 100vh;
  // 根据是否折叠计算布局的宽度
  &.fold {
    .layout_slider {
      width: $base-menu-min-width;
    }
    .layout_main {
      width: calc(100vw - $base-menu-min-width);
      left: $base-menu-min-width;
    }
  }
  .layout_slider {
    width: $base-menu-width;
    height: calc(100vh - $base-tabbar-height);
    border-right: 1px solid var(--el-menu-border-color);
    transition: all 0.3s;
    position: relative;
    top: $base-tabbar-height;
    .scrollbar {
      width: 100%;
      height: calc(100vh - $base-menu-logo-height);
      .el-menu {
        border-right: none;
      }
    }
  }
  .layout_tabbar {
    display: flex;
    height: $base-tabbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #ccc;
    .logo {
      width: $base-menu-width;
      flex-shrink: 0;
    }
  }
  .layout_main {
    height: calc(100vh - $base-tabbar-height);
    width: calc(100% - $base-menu-width);
    // absolute绝对定位。relative相对定位。fixed窗口定位
    position: absolute;
    top: $base-tabbar-height;
    left: $base-menu-width;

    overflow: auto;
    transition: all 0.3s;
    .tags {
      height: $base-tags-width;
    }
  }
}
